body {
    color: white;
}

p {
    color: white;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
}

.top-bar {
    background-color: #333;
}

.social-network {
    margin-left: 80px;
}

.service-center {
    margin-left: 300px;
}

.logo-container {
    background-color: crimson;
    height: 200px;
}

.search-bar {
    margin-left: 20px;
    margin-top: 80px;
    height: 40px;
    width: 400px;
}

.search-bar-img {
    margin-top: 80px;
    height: 40px;
    width: 60px;
}

.icon-sm {
    height: 35px;
    width: 35px;
}

.copyright {
    background-color: #333;
    color: white;
}


.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.clear {
    clear: both;
}

.carouselcontainer {
    height: 300px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.fa-user-circle {
    color: darkred;
}

.fa-shopping-cart {
    color: darkred;
}

.fa-facebook-square {
    color: darkred;
}

.fa-twitter-square {
    color: darkred;
}

.fa-cart-plus {
    color: darkred;
}

.bandeira {
    height: 40px;
    width: 60px;
    margin-top: -25px;
    padding-top: -25px;
}